name: Deploy to prod.

on:
  push:
    branches: [main]

jobs:
  remote-connect:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          password: ${{secrets.PASSWORD}}
          port: 22
          script: sh run.sh

  push-image:
    runs-on: ubuntu-latest

    steps:
      - name: Login to docker
        uses: docker/login-action@v1
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
      - uses: actions/checkout@v2
      - name: Build docker image
        run: docker build . --tag vilichtsarina/m223:sarinafrontend && docker push vilichtsarina/m223:sarinafrontend

  remote-start:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          password: ${{secrets.PASSWORD}}
          port: 22
          script: sh restart.sh
